.navbar{
    position: fixed;
    width: 100%;
    background-color: var(--nav-background-color);
    color: #fff;
    height: var(--navbar-height);
    top:0;
    left:0;
    z-index: 200;
}

.navbar__navigation{
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}

.navbar__menu-icon{
   display: none;
}

.spacer{
    flex: 1;
}


.navbar__right-nav ul {
    list-style: none;
    display: flex;
}

.navbar__right-nav li {
    padding: 0 0.5rem;
    font-size: 1.1rem;
}

.navbar__right-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;  
    white-space: nowrap;
}

.navbar__right-nav li a:hover,
.navbar__right-nav li a:active{
    background-color: var(--primary-color);
    transition: .5s;
    border-radius: 0.2rem;
  
}


/* Dropdown Button */

.dropbtn i {
    margin-left: 0.5rem;
  }
  
  .dropbtn:hover{
    background-color: transparent;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    margin-top: 3px;
    display: none;
    position: absolute;
    background-color: var(--nav-background-color);
    width: 11rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Links inside the dropdown */
  
  .dropdown-content a {
    color: #fff;
    text-decoration: none;
    padding: 5rem;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: var(--primary-color);}
  
  
  .dropdown-content.active {
    display: block;
    box-shadow: none;
  }
  
  .dropdown:hover .dropbtn {background-color: var(--nav-background-color)}
  

@media (max-width: 1145px){
    .navbar__menu-icon{
        display: block;
        color: #fff;
        margin-right: 10px;
        font-size: 25px;
        cursor: pointer;
    }

    .navbar__right-nav{
        display: none;
    }
    
}
