
.search-container{
    min-width: 250px;
}

.search-container input[type=text] {
    padding: 6px;
    font-size: 16px;
 }
 
.search-container button {
   padding: 7.3px 10px;
   font-size: 16px;
   cursor: pointer;
   background: #ddd;
 }
 
 .search-container button:hover {
   background: #ccc;
 }