.sidenav{
    height: 100%;
    background-color: var(--light-color);
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    min-width: 270px;
    z-index: 200;
    transform: translateX(-150%);
    transition: all 0.5s ease-out;
    overflow: scroll;
    padding: 1rem;
    padding-left: 2rem;

}

.sidenav.active{
    transform: translateX(0);
}

.sidenav ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column; 
    justify-content: stretch;
    /* align-items: center; */
}

.sidenav li {
    margin: 1rem 0;
}

.sidenav a {
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
}

.sidenav a:hover,
.sidenav a:active{
    color: lightseagreen;
}



.side-nav-header{
    display: flex;
    width: 100;
    justify-content: space-between;
}

.side-nav-header .navbar__logo a{
    font-size: 1.5rem;
    font-weight: 400;
}

.side-nav-header .navbar__logo a:focus{
   color: var(--primary-color)
}

.close-sidenav{
    font-size: 1.4rem;
    cursor: pointer;
}

