@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --nav-light-background-color: #F1F3F4;
  /* --primary-color: #162129; */
  --primary-color: #009FB7;
  --primary-font-color: #333;
  --logo-font-size: 30px;
  --h1-font-size: 30px;
  --h2-font-size: 25px;
  --h3-font-size: 20px;
  --nav-dark-background-color: #0D1821;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--primary-font-color);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

button{
  border: none;
  outline: none;
}

button:hover{
  opacity: 0.5;
}

h1{
  font-size: var(--h1-font-size);
}
h2{
  font-size: var(--h2-font-size);
}
h3{
  font-size: var(--h3-font-size);
}

/*============================================= Navbar ============================================= */

.navbar {
  background-color: var(--nav-light-background-color);
  height: 60px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul li a i{
  margin-right: 0.5rem;
} 

.navbar a {
  padding: 10px;
  margin: 0 5px;
}

.navbar ul a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

.navbar .flex {
  justify-content: space-between;
}

.logo{
  letter-spacing: 2px;
  font-size: var(--logo-font-size);
  font-weight: 400;
}

.nav2 {
  background-color: var(--nav-dark-background-color);
  color: white;
}
.nav2 a{
  color: white;
}

/* Dropdown Button */
.dropbtn {
  border: none;
}

.dropbtn i {
  margin-left: 0.5rem;
}

.dropbtn:hover{
  opacity: 1;
  outline: none;

}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--nav-light-background-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.nav2 .dropdown-content{
  background-color: var(--nav-dark-background-color);

}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover -- had to specify navbar due to .navbar a:not(.dropbtn):hover  */
.dropdown-content a:hover {
  /* background-color: var(--primary-color); */
  border: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: var(--primary-color);
  font-weight: 600;
}

/*============================================= Newly Added ============================================= */

.newly-added{
  background-color: var(--nav-light-background-color);
  overflow: auto; 
  padding-bottom: 50px;
}

.newly-added .content{
  display: flex;
  justify-content: space-between
}

.newly-added .text{
  margin-top: 5%;
}

.newly-added h2,
.newly-added h3{
letter-spacing: 0.5rem;
text-transform: uppercase;
font-weight: 600;
}

.newly-added h2 {
font-size: 3.5em;
}

.newly-added h3 {
font-size: 2em;
}

.newly-added button{
  margin-top: 1rem;
  width: 60%;
}

.newly-added img{
width: 60%;
}

/*============================================= Recently Viewed ============================================= */

.recently-viewed .header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display:flex;
  justify-content:space-between;
}

.recently-viewed h2{
  font-size: 1.5rem;
}

.recently-viewed .header a:hover{
  border-bottom: 1px solid var(--primary-font-color);
}

.recently-viewed .products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: center;
  gap: 2rem;
}

.recently-viewed .card{
  position: relative;
  display: flex;
  flex-direction: column;
}

.recently-viewed .card-name{
  font-weight: 600;
  white-space:nowrap;
}

.recently-viewed .card-name:hover{
  text-decoration: underline;
}


.recently-viewed .card-img{
  padding: 3rem 0;
  transition: 0.5s;
  background-color: var(--nav-light-background-color);
  margin-bottom: 10px;
}


.recently-viewed .price{
  margin: 0;
}

.recently-viewed .stars i {
color: #FDCC0D;
font-size: 0.8rem;
}

.recently-viewed .card-img:hover{
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(99, 105, 105);
  cursor: pointer;
}

footer{
  text-align: center;
  margin-top: 2rem;
}

/*============================================= Forms ============================================= */

/* Authentication Forms */

.login-form form{
  width: 45%;
}

.register-form form{
  width: 55%;
}

/* =========================== Full Product ============================================= */

.full-product{
  margin-top: 3rem;
}

.full-product .card{
  display: grid;
  grid-template-columns: 2fr 1fr;

}


.full-product .card-content > *{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 1rem;
}

.full-product .card-name{
  padding-bottom: 3rem;
}


.full-product .card-img{
  width: 90%;
  margin: 0 auto;
  background-color: var(--nav-light-background-color);
  justify-self: center;
}

.full-product .description{
  text-align: justify;
}

.full-product button{
  width: 100%;
  margin-top: 15px;
}
