@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --card-background-color: #F5F5F5; 
  --nav-background-color: #33313b;
  --primary-font-color: #333;
  --primary-color: #5FBB97;
  --dark-primary-color: #2F5D4B;
  --primary-color-low-opacity: rgba(95, 187, 151, 0.6);
  --secondary-color: #F7B267;
  --light-color: #F1F3F4;
  --dark-color: black;
  --navbar-height: 70px; 
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body {
  overflow: auto;
}


body {
  font-family: 'Lato', sans-serif;
  color: var(--primary-font-color);
  font-weight: 300;
  line-height: 1.6;
  min-width: 375px;
}



.content{
  min-height: 80vh;
}

.content.blur{
  filter:blur(3px);
  transition: 0.7s
}

.container {
  width: 90%;
  margin: 0 auto;
}


button:hover,
.btn:hover{
  background: var(--secondary-color);
  letter-spacing: 1px;
  transition: all 0.4s ease 0s;
  color: black;
}


.btn:disabled, 
button:disabled{
  background-color: gray;
  opacity: 0.4;
  cursor: default;
}

.btn:disabled:hover, 
button:disabled:hover{
  pointer-events: none !important;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

p {
  margin: 10px 0;
}

img {
  max-width:100%;
  max-height:100%;
  align-self: center;

}

button{
  border: none;
  outline: none;
}

button:hover{
  opacity: 0.85;
}

h1,h2,h3,h4,h5{
  font-weight: 400;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 25px;
}
h3{
  font-size: 20px;
}



/*============================================= Newly Added ============================================= */

.newly-added{
  background: url('https://images.unsplash.com/photo-1524883173980-67b26d34e82c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 0;  
  min-height: 350px;
  height: 63vh;
  overflow: hidden;
  width: 100%;
  align-items: end;
}

.newly-added .content{
  color: white;
  text-shadow: 2px 2px var(--primary-font-color);
  font-size: 1.8rem;
}

.newly-added .text{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newly-added h2,
.newly-added h3{
letter-spacing: 0.5rem;
text-transform: uppercase;
font-weight: 600;
}

.newly-added h2 {
  font-size: 100px;

}

.newly-added h3 {
  font-size: 75px;
}

.newly-added button{
  margin-top: 1rem;
  width: 20%;
  background-color: var(--primary-color);
  font-size: 0.65em;
}

/*============================================= Recently Viewed ============================================= */

.recently-viewed .header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display:flex;
  justify-content:space-between;
}

.recently-viewed h3{
  font-size: 1.75em;
}

.recently-viewed .header a {
  align-self: center;
}


.recently-viewed .products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: center;
  gap: 2rem;
}

.recently-viewed .card{
  position: relative;
  display: flex;
  flex-direction: column;
}

.recently-viewed .card-name{
  font-weight: 600;
}

.recently-viewed .card-name:hover{
  text-decoration: underline;
}


.recently-viewed .card-img{
  padding: 3rem 0;
  transition: 0.5s;
  background-color: var(--card-background-color);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;

}

.recently-viewed .price{
  margin: 0;
}

.recently-viewed .stars i {
color: #FDCC0D;
font-size: 0.8rem;
}

.recently-viewed .card-img:hover{
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(99, 105, 105);
  cursor: pointer;
}

.recently-viewed a {
  font-weight: normal;
  text-align: center;
}
/*============================================= Forms ============================================= */
/* General Forms */
.general-form form{
  width: 45%;
  min-width: 348px;
}

/* Authentication Forms */

.auth-forms {
 display: flex;
 justify-content: space-between;
}

.auth-forms form {
  width: 35%;
}

.auth-forms .form-heading{
  text-align: center;
}
.auth-forms .form-submit {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.auth-forms .form-submit:hover{
  letter-spacing: 2px;
}

hr.vertical {
  width: 0px;
  height: 70vh;
  margin-top: 5%;
  background-color: rgba(0,0,0,0.1);
  border-color: rgba(0,0,0,0.1);
}


@media screen and (max-width: 936px){

  .auth-forms {
    display: block;
   }  

   hr.vertical{
     display: none;
   }
}


/* =========================== Full Product ============================================= */

.full-product{
  margin-top: 3rem;
}

.full-product .card{
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow-x: hidden ;
}

.full-product .card-content > *{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 1rem;
}

.full-product .card-name{
  padding-bottom: 3rem;
  white-space: nowrap;
}


.full-product .card-img{
  width: 90%;
  background-color: var(--card-background-color);
  display: flex;
  justify-content: center;

}

.full-product .description{
  text-align: justify;
}

.full-product button{
  width: 100%;
  margin-top: 2rem;
}

.full-product form select {
 margin-left: 5px;
}

/* =========================== Alert ============================================= */

.alert{
  width: 100%;
  height: fit-content;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px 0;
  display: flex;
}

.alert p{  
  font-weight: 500;
  align-self: center;
}

.alert-warning{
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-success{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-danger{
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
 
}

.alert-info{
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}


@media screen and (max-width: 936px){

  .full-product .card{
    grid-template-columns: 1fr;
  
   }

   .full-product .card-img{
     width: 100%;
     margin-bottom: 4%;
   }
}

@media screen and (max-width: 480px){
  .recently-viewed .header {
   flex-direction: column;
   align-items: center;
  }

  .recently-viewed h3 {
    text-align: center;
  }

  .newly-added h2,
  .newly-added h3{
  letter-spacing: 2px;
  }

  .newly-added h2 {
    font-size: 20vw;
  }
  
  .newly-added h3 {
    font-size: 15vw;
  }
}

/* =========================== Shopping Cart ============================================= */
  .shopping-cart {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    margin-top: 1rem;
  
  }

  .shopping-cart h2 {
    margin-bottom: 1rem;
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .cart-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    width: 90%;
  }

  .cart-card .img-link {
    width: 15%;
  }

  .cart-card .name-link{
    font-weight: normal;
    border-bottom: 1px solid transparent;
    width: 20%;
    text-align: justify;
  }

  .cart-card .name:hover{
    text-shadow: 0 0 .01px black, 0 0 .01px black, 0 0 .01px black;
    border-bottom: 1px solid black;

  }

  .cart-card select{
    margin-left: 5px;
    background-color: var(--light-color);
    outline: none;
    border: none;
    padding: 0.45rem 0.8rem; 
    border: none;
    /* -moz-appearance: none; */
    background: var(--light-color);
  }

  .cart-card select:before {
    content: '\f0d7';
    font-family: 'FontAwesome';
    color: #fff;
    display: inline-block;
    position: absolute;
    right: -5px;
    top: 5px;
    pointer-events: none;
    z-index: 1;
  }
  

   /* select {
    border:1px solid #ffffff;
    background-color: #8b3ca8;
    color:#ffffff;
    height:30px;
    font-size:10pt;
    width: 199px;
    margin-left: 13px;
    padding: 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .cart-card select {
    width: 199px;
    position: relative;
  }
  
  .cart-card select:before {
    content: '\f107';
    font-family: 'FontAwesome';
    color: #fff;
    display: inline-block;
    position: absolute;
    right: -5px;
    top: 5px;
    pointer-events: none;
    z-index: 1;
  } */

  .cart-card i {
    cursor: pointer;
  }

  .cart-card i:hover {
    color: var(--secondary-color)
  }

  .cart-info{
    border: 2px solid rgba(0,0,0,0.1);
    align-self: start;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }


  .cart-info .subtotal-heading{
    letter-spacing: 1px;
  }

  .cart-info .total-price{
    font-size: 1rem;
    padding-bottom: 15px;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);

  }

  .cart-info .btn{
    justify-self: center;
    text-align: center;
  }

   /* =========================== Checkout Nav ============================================= */

   .checkout-nav{
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 0 auto;
    width: 40%;
    font-weight: 500;
  }

  .checkout-nav li a {
    padding-bottom: 0.7rem;
  }

  .checkout-nav li a:hover {
    border-bottom: 2px solid black;
  }

  .checkout-nav li a[disabled] {
    color: rgba(0,0,0,0.3);
    pointer-events: none;
  }
      /* =========================== Place Order ============================================= */

 .place-order-grid{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 5%;
}

.order-info {
 padding: 0.5rem 0;
}

.order-info h4,
.select-payment h4,
.order-payment-summary h4{
 font-size: 1.4rem;
 margin-bottom: 1rem;
 letter-spacing: 2px;
 text-transform: uppercase;
 font-weight: 500;
}

.order-info .item {
 display: flex;
 justify-content: space-around;
 padding: 1rem 0;
 font-weight: 500;
}

.order-info .title{
 width: 20%;
}

.order-info .title:hover{
 text-decoration: underline;
}

.order-info .img-link{
 width: 10%;
}

.order-info .item-price {
  width: 25%;
}

.select-payment .pay-content{
  display: flex;
}

.select-payment form{
  width: 40%;
  margin: 0;
  align-self: center;
}

.paypal-success {
  text-align: center;
  font-weight: 700;
}

.paypal-success .heading{
  color: green;
  font-size: 1.25rem;
}

.paypal-success .info{
  font-size: 1.15rem;  
}

.paypal-success .info i{
  font-size: 2rem;  
  align-self: center;
}

.paypal-btn{
  width: 40%;
  margin: 0 auto;
  margin-top: 1rem;
}

.paypal-btn.hide {
  display: none;
}



.order-payment-summary{
   border: 2px solid rgba(0,0,0,0.1);
   align-self: start;
   padding: 20px;
   display: flex;
   flex-direction: column;
   font-weight: 500;
   margin-top: 1rem;
}

.price-summary{
 display: flex;
 justify-content: space-between;
}

.order-payment-summary .btn{
 justify-self: center;
 text-align: center;
 font-weight: 300;
}


.order-info .item:not(:last-child),
.order-info:not(:last-child),
.price-summary:not(:last-child),
.select-payment{
 border-bottom: 1px solid rgba(0,0,0,0.1)
} 

.order-help{
  font-size: 0.8rem;
  font-style: italic;
  color: #DC143C;
}

    /* =========================== Thank You ============================================= */

    .thank-you{
      text-align: center;
      margin-top: 8%;
    }
   
    .thank-you .heading {
      font-size: 3.5rem;
      letter-spacing: 2px;
    }

    .thank-you .order-number {
      font-weight: 500;
      font-size: 1.2rem;
    }


    .thank-you .order-number strong {
      text-transform: uppercase;
    }

    .thank-you .info {
      font-style: italic;
      font-weight: 400;
      font-size: 1.1rem;
      color: var(--primary-color)
    }

    .thank-you .info strong{
      font-weight: 800;
    }

    .thank-you .second-info {
      font-style: italic;
      font-weight: 400;
      font-size: 1.5rem;
      color: var(--secondary-color)
    }

    .thank-you img {
      width: 25%;
      margin-top: 2rem;
      border-radius: 10%;
  }


      /* =========================== Profile ============================================= */

      .profile {
        margin-top: 1rem;
      }
  
      .profile .header {
        font-size: 2.5rem;
        border-bottom: 1px solid #ddd;
        padding-bottom: 0.5rem;
      }
  
      .profile .info{
        display: grid;
        grid-template-columns: 2fr 0.2fr 5fr;
        /* grid-gap: 2%; */
      }
  
      .profile .info hr {
        display:inline-block;
        margin-left: 2rem;
        /* margin-top: 1.5rem; */
        background-color: #ddd;
        color:#ddd;
        border: #ddd;
      }
  
      .profile-nav {
        align-self: start;
        margin-top: 1rem;
        border: 2px solid rgba(0,0,0,0.1);
        width: 100%;
        display: flex;
        flex-direction: column;
  
      }
  
      .profile-nav a {
       margin: 0;
       border: 1px solid rgba(0,0,0,0.1);
       text-align: center;
      }
  
      .edit-profile form{
        width: 100%;
        /* margin: 0; */
      }
  
      .order-list {
        margin-left: 1rem;
        margin-top: 1rem;
      }
      .order-list table {
        border-collapse: collapse;
        font-size: 0.9em;
        min-width: 400px;
        width: 100%;
      }
  
      .order-list thead {
        background-color: #848389;
        color: #fff;
        text-align: left;
      }
  
      .order-list th,
      .order-list td {
        padding: 12px 15px;
      }
  
      .order-list tbody tr {
        border-bottom: 1px solid #ddd;
      }
  
      .order-list tbody tr:nth-of-type(even){
        background-color: #f3f3f3;
      }

      .order-list .alert {
        margin-bottom: 4rem;
      }

      .continue-shopping-alert-link {
        color: var(--primary-color);
        font-weight: 700;
        margin-left: 0.2rem;
        letter-spacing: 1px;
      }
 
      .order-details-btn:hover {
        letter-spacing: 0px;
      }
      .continue-shopping-alert-link:hover {
        letter-spacing: 1px;
      }

 





